<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Simar Pal Singh. It uses data from mapbox.com and darksky.net</p>
        <img class="portrait" src="./images/IMG_5915.JPG">
    </div>

    {{>footer}}
</body>

</html>